# <div style="display:fill;border-radius:5px;background-color:#676F9F;letter-spacing:0.5px;overflow:hidden"><p style="padding:20px;color:#F1EFF5;overflow:hidden;margin:0;font-size:150%;font-style: Helvetica;text-align:center"><b></b>WHAT IF DOCTORüßë‚Äç‚öïÔ∏è PREPARES AN AI MODEL??ü§î</p></div>

In the previous notebook, we came to know the overview of a project and how it looks like. In this notebook, lets discuss about the dataset we are working in..

## THE_DATASET_CREATION........

I searched a lot of websites to get the true Anaemia dataset with the very features I wanted but I failed to get the same. After so many attempts of searching, I came to a conclusion that as these are the healthcare related datasets, its very difficult to obtain the same as patients should give consent to use their health related information. Since, I am a doctor, I thought to seek Director's permission(Head of the Institution I'm working in) to use the blood reports of many patients to do a project, I stepped back not to do so because there are many policies which I thought will interfere in my way. So, I made my mind to create a one which looks like the real-world dataset.

Case scenario.....If a person comes with the symptoms of unusual fatigue, giddiness, breathlessness, palpitation and if I found that person to be pale, I prescribe him some of the tests to see what is wrong in his internal biological harmony(However,in some of the countries, even before patients consult doctors, all the routine blood tests might be ordered). Among many tests, I prescribe CBC(Complete Clood Count) and if I find a person's Hemoglobin falling below a normal range, then I prescribe him serial tests which will be described later.

## <font color='#4287f5'>Importing necessary libraries...</font>

In [1]:
import pandas as pd                       # library for data manipulation (data cleaning,analysing...)
import numpy as np                        # library for numerical computation
import matplotlib.pyplot as plt           # library for data visualization which is built on NumPy arrays
%matplotlib inline
import seaborn as sns                     # library for data visualization built on top of matplotlib and 
                                          # closely integrated with pandas data structures in Python.

import random

import warnings                           # to avoid warning flash
warnings.filterwarnings('ignore')

# Other libraries will be imported in the following steps as the process moves....

Lets create the list of unique "ID's" as it will be present in the realworld dataset. But in real world, as a part of HIPAA(Health Insurance Portability and Accountability Acts), this column should be either converted to dummy variable or it should be dropped.

In [2]:
ID = list(np.linspace(0,1000,1000).astype(int))

'age' and 'sex' column is must in medical datasets

In [3]:
age = np.random.normal(50, 15, 1000).astype(int).tolist()
age = [(x + 10) if x < 5 else x for x in age]   # I dont want to include the cases who are less than 5 years old...

In [4]:
# 1 - male
# 0 - female
sex = []
for i in range(0,1000):
    x = random.randint(0, 1)
    sex.append(x)

### Lets add the first important feature to the dataset...i.e,Reticulocyte_count

<!DOCTYPE html>
<html>
<head>
    <meta charset=‚Äúutf-8‚Äù>
    <title></title>
</head>
<body>

<h1 style= "text-align:center;color:#052261;font-size:120%;"><u> RETICULOCYTE COUNT  </u></h2>
<h2 style= "color:#38bdc2; font-family:Verdana,Arial; font-size:15pt"> I)What is a reticulocyte count?</h2>
<p style= "color:#010f0f; font-family:Verdana,Arial">Reticulocytes are red blood cells that are still developing. They are also known as immature red blood cells.<br/> Reticulocytes are made in the bone marrow and sent into the bloodstream. About two days after they form, they develop into mature red blood cells.<br/> These red blood cells move oxygen from your lungs to every cell in your body.</p>
<p style= "color:#010f0f; font-family:Verdana,Arial">A reticulocyte count (retic count) measures the number of reticulocytes in the blood. If the count is too high or too low, it can mean a serious health problem, including anemia and disorders of the bone marrow, liver, and kidneys.</p>

<h3 style="color:#38bdc2; font-family:Verdana,Arial; font-size:15pt">II)What is it used for?</h3>
<p style= "color:#010f0f; font-family:Verdana,Arial">A reticulocyte count is most often used to:
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Diagnose specific types of anemia. </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">See if treatment for anemia is working </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">See if bone marrow is producing the right amount of blood cells </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Check bone marrow function after chemotherapy or a bone marrow transplant</li>
    </ul></p>

<h4 style="color:#38bdc2; font-family:Verdana,Arial; font-size:15pt">III)What do the results mean?</h4>
<p style= "color:#010f0f; font-family:Verdana,Arial">If your results show a higher than normal amount of reticulocytes (reticulocytosis), it may mean:  
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">You have hemolytic anemia, a type of anemia in which red blood cells are destroyed faster than the bone marrow can replace them. </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Your baby has hemolytic disease of the newborn, a condition that limits the ability of a baby's blood to carry oxygen to organs and tissues. </li>
    </ul></p>
<p style= "color:#010f0f; font-family:Verdana,Arial">If your results show a lower than normal amount of reticulocytes, it may mean:
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Iron deficiency anemia, a type of anemia that happens when you don't have enough iron in your body </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Pernicious anemia, a type of anemia caused by not getting enough of certain B vitamins (B12 and folate) in your diet, or when your body can't absorb enough B vitamins. </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Aplastic anemia, a type of anemia that happens when the bone marrow isn't able to make enough blood cells.</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Bone marrow failure, which may be caused by an infection or cancer.</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Kidney disease</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Cirrhosis, scarring of the liver</li>
    </ul></p>   


</body>
</html>

In [6]:
Retic_count = []
for i in range(0,1000):
    x = random.randint(0, 2)
    Retic_count.append(x)

In [7]:
# create a DataFrame
Report = {'ID': ID,'age': age,'sex': sex,'Retic_count': Retic_count}
df = pd.DataFrame(Report)

In [8]:
df

       ID  age  sex  Retic_count
0       0   61    0            1
1       1   51    1            1
2       2   32    0            2
3       3   35    0            2
4       4   58    1            2
..    ...  ...  ...          ...
995   995   43    1            1
996   996   48    1            1
997   997   58    1            0
998   998   60    1            2
999  1000   55    1            2

[1000 rows x 4 columns]

In [9]:
df['Retic_count'].value_counts()

1    348
0    335
2    317
Name: Retic_count, dtype: int64

So now, Retic_count has been added to the dataframe. If in case, Retic_count is found to be high, test for Bilirubin level has to be prescribed but usually it will be done under liver function tests.

Bilirubin count serves an important role to rule out the hemolytic aetiology. As I have told before, if bilirubin count is found to be high, then it means there is more destruction of RBC's and if it is low or normal, then it rules out hemolytic aetiology.

In [10]:
df.insert(4,"Bilirubin_count",True)

In [11]:
def get_Bilirubin_count(x):
    if x == 2:                         # Retic_count: 2 (high)
        return random.randint(3,4)
    else :
        return 1000

**DISCLAIMER:** The methods which are used to generate the current dataset are naturally incorrect. The real world medical datasets will be quite tricky. But for the intuition purpose, I have followed some of the vague methods to add new features to the dataset.

In [12]:
df['Bilirubin_count'] = df['Retic_count'].apply(lambda x : get_Bilirubin_count(x))

In [13]:
df

       ID  age  sex  Retic_count  Bilirubin_count
0       0   61    0            1             1000
1       1   51    1            1             1000
2       2   32    0            2                3
3       3   35    0            2                4
4       4   58    1            2                3
..    ...  ...  ...          ...              ...
995   995   43    1            1             1000
996   996   48    1            1             1000
997   997   58    1            0             1000
998   998   60    1            2                4
999  1000   55    1            2                3

[1000 rows x 5 columns]

In [14]:
df.insert(5,"LDH_count",True)

<!DOCTYPE html>
<html>
<head>
    <meta charset=‚Äúutf-8‚Äù>
    <title></title>
</head>
<body>

<h1 style= "text-align:center;color:#052261;font-size:120%;"><u> LACTATE DEHYDROGENASE (LDH) TEST  </u></h2>
<h2 style= "color:#38bdc2; font-family:Verdana,Arial; font-size:15pt"> I)What is a lactate dehydrogenase (LDH) test?</h2>
<p style= "color:#010f0f; font-family:Verdana,Arial">This test measures the level of lactate dehydrogenase (LDH), also known as lactic acid dehydrogenase, in your blood or sometimes in other body fluids.<br/>  LDH is a type of protein, known as an enzyme. LDH plays an important role in making your body's energy.<br/> It is found in almost all the body's tissues, including those in the blood, heart, kidneys, brain, and lungs.</p>
<p style= "color:#010f0f; font-family:Verdana,Arial">When these tissues are damaged, they release LDH into the bloodstream or other body fluids. If your LDH blood or fluid levels are high, it may mean certain tissues in your body have been damaged by disease or injury</p>

<h3 style="color:#38bdc2; font-family:Verdana,Arial; font-size:15pt">II)What is it used for?</h3>
<p style= "color:#010f0f; font-family:Verdana,Arial">An LDH test is most often used to:
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Find out if you have tissue damage </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Monitor disorders that cause tissue damage. These include anemia, liver disease, lung disease, and some types of infections. </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Monitor chemotherapy for certain types cancer. The test may show if treatment is working. </li>
    </ul></p>

<h4 style="color:#38bdc2; font-family:Verdana,Arial; font-size:15pt">III)What do the results mean?</h4>
<p style= "color:#010f0f; font-family:Verdana,Arial">Higher than normal LDH levels usually means you have some type of tissue damage or disease.<br/> Disorders that cause high LDH levels include:  
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Anemia </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Kidney diseases </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Muscle injury </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Liver disease </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Myocardial infarction </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Pancreatitis </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Infections, including meningitis, encephalitis, and infectious mononucleosis (mono) </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Certain types of cancer, including lymphoma and leukemia. A higher than normal LDH level may also mean treatment for cancer is not working. </li>
    </ul></p>   
<p style= "color:#010f0f; font-family:Verdana,Arial">Although the test can show if you have tissue damage or disease, it does not show where the damage is located. If your results showed higher than normal LDH levels, your provider may need to order more tests to make a diagnosis. One of these tests may be an LDH isoenzyme test. An LDH isoenzyme test measures different forms of LDH. It can help your provider find out about the location, type, and severity of tissue damage<p/>

</body>
</html>

In [15]:
def get_LDH_count(x):
    if x == 3 :
        return 3
    elif x ==4:
        return 4
    else :
        return 1000

In [16]:
df['LDH_count'] = df['Bilirubin_count'].apply(lambda x: get_LDH_count(x))

In [17]:
df

       ID  age  sex  Retic_count  Bilirubin_count  LDH_count
0       0   61    0            1             1000       1000
1       1   51    1            1             1000       1000
2       2   32    0            2                3          3
3       3   35    0            2                4          4
4       4   58    1            2                3          3
..    ...  ...  ...          ...              ...        ...
995   995   43    1            1             1000       1000
996   996   48    1            1             1000       1000
997   997   58    1            0             1000       1000
998   998   60    1            2                4          4
999  1000   55    1            2                3          3

[1000 rows x 6 columns]

In [18]:
df.insert(6,"Coombs_test",True)

<!DOCTYPE html>
<html>
<head>
    <meta charset=‚Äúutf-8‚Äù>
    <title></title>
</head>
<body>

<h1 style= "text-align:center;color:#052261;font-size:120%;"><u> COOMBS TEST  </u></h2>
<h2 style= "color:#38bdc2; font-family:Verdana,Arial; font-size:15pt"> I)What is a Coombs test?</h2>
<p style= "color:#010f0f; font-family:Verdana,Arial">The Coombs test looks for antibodies that may stick to your red blood cells and cause red blood cells to die too early.</p>

<h3 style="color:#38bdc2; font-family:Verdana,Arial; font-size:15pt">II)Why the Test is Performed?</h3>
<p style= "color:#010f0f; font-family:Verdana,Arial">There are two types of the Coombs test: Direct and Indirect.
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">The <strong>Direct Coombs test</strong> is used to detect antibodies that are stuck to the surface of red blood cells. Many diseases and drugs can cause this to happen. These antibodies sometimes destroy red blood cells and cause anemia. Your health care provider may recommend this test if you have signs or symptoms of anemia or jaundice (yellowing of the skin or eyes). </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">The <strong>indirect Coombs test</strong> looks for antibodies that are floating in the blood. These antibodies could act against certain red blood cells. This test is most often done to determine if you may have a reaction to a blood transfusion </li>
    </ul></p>

<h4 style="color:#38bdc2; font-family:Verdana,Arial; font-size:15pt">III)What do the results mean?</h4>
<p style= "color:#010f0f; font-family:Verdana,Arial"><strong>Normal Results:</strong><br/> A normal result is called a negative result. It means there was no clumping of cells and you have no antibodies to red blood cells.<br/><strong>Abnormal Results:</strong><br/>An abnormal (positive) direct Coombs test means you have antibodies that act against your red blood cells. This may be due to:  
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Autoimmune hemolytic anemia </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Chronic lymphocytic leukemia or similar disorder </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Blood disease in newborns called erythroblastosis fetalis (also called hemolytic disease of the newborn) </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Infectious mononucleosis </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Mycoplasma infection </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Syphilis </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Systemic lupus erythematosus </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Transfusion reaction, such as one due to improperly matched units of blood </li>
    </ul></p>   
<p style= "color:#010f0f; font-family:Verdana,Arial">An abnormal (positive) indirect Coombs test means you have antibodies that will act against red blood cells that your body views as foreign. This may suggest:
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Erythroblastosis fetalis </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Incompatible blood match (when used in blood banks) </li>
    </ul></p>
</body>
</html>

In [19]:
def get_Coombs_test(x):
    if x == 4:
        return random.randint(5,6)
    else:
        return 1000

In [20]:
df["Coombs_test"] = df['LDH_count'].apply(lambda x: get_Coombs_test(x))

In [21]:
df

       ID  age  sex  Retic_count  Bilirubin_count  LDH_count  Coombs_test
0       0   61    0            1             1000       1000         1000
1       1   51    1            1             1000       1000         1000
2       2   32    0            2                3          3         1000
3       3   35    0            2                4          4            5
4       4   58    1            2                3          3         1000
..    ...  ...  ...          ...              ...        ...          ...
995   995   43    1            1             1000       1000         1000
996   996   48    1            1             1000       1000         1000
997   997   58    1            0             1000       1000         1000
998   998   60    1            2                4          4            5
999  1000   55    1            2                3          3         1000

[1000 rows x 7 columns]

In [22]:
df.insert(7,"Peripheral_Smear",True)

<!DOCTYPE html>
<html>
<head>
    <meta charset=‚Äúutf-8‚Äù>
    <title></title>
</head>
<body>

<h1 style= "text-align:center;color:#052261;font-size:120%;"><u> PERIPHERAL BLOOD SMEAR  </u></h2>
<p style= "color:#010f0f; font-family:Verdana,Arial"> A blood smear is a blood test that gives information about the number and shape of blood cells. It is often done as part of or along with a complete blood count (CBC)</p>    
  
<h2 style= "color:#38bdc2; font-family:Verdana,Arial; font-size:15pt"> I)How the Test is Performed?</h2>
<p style= "color:#010f0f; font-family:Verdana,Arial">A blood sample is needed.<br/>The blood sample is sent to a lab. There, the lab technician looks at it under a microscope. Or, the blood may be examined by an automated machine.<br/>The smear provides this information:
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">The number,size(microcytic,normocytic or macrocytic) and kinds of red blood cells (differential, or percentage of each type of cell) </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">The number and kinds of abnormally shaped red blood cells</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">A rough estimate of white blood cell and platelet counts.</li>
    </ul></p>

<h3 style="color:#38bdc2; font-family:Verdana,Arial; font-size:15pt">II)Why the Test is Performed?</h3>
<p style= "color:#010f0f; font-family:Verdana,Arial">This test may be done as part of a general health exam to help diagnose many illnesses. Or, your health care provider may recommend this test if you have signs of:
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Any known or suspected blood disorder </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Cancer </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Leukemia </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">A blood smear may also be done to monitor the side effects of chemotherapy or to help diagnose an infection, such as malaria </li>
    </ul></p>

<h4 style="color:#38bdc2; font-family:Verdana,Arial; font-size:15pt">III)What do the results mean?</h4>
<p style= "color:#010f0f; font-family:Verdana,Arial"><strong>Normal Results:</strong><br/>Red blood cells (RBCs) normally are the same size and color and are a lighter color in the center. The blood smear is considered normal if there is:
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Normal appearance of cells </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Normal white blood cell differential </li><br/><strong>Abnormal Results:</strong><br/>Abnormal results mean the size, shape, color, or coating of the RBCs is not normal.<br/>Some abnormalities may be graded on a 4-point scale:  
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">1+ means one quarter of cells are affected </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">2+ means one half of cells are affected </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">3+ means three quarters of cells are affected </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">4+ means all of the cells are affected </li>
    </ul></p>   
<p style= "color:#010f0f; font-family:Verdana,Arial">Presence of cells called target cells may be due to:
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Deficiency of an enzyme called lecithin cholesterol acyl transferase </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Abnormal hemoglobin, the protein in RBCs that carries oxygen (hemoglobinopathies) </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Iron deficiency</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Liver disease </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Spleen removal</li>
    </ul></p>
    
<p style= "color:#010f0f; font-family:Verdana,Arial">Presence of cells called target cells may be due to:
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Deficiency of an enzyme called lecithin cholesterol acyl transferase </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Abnormal hemoglobin, the protein in RBCs that carries oxygen (hemoglobinopathies) </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Iron deficiency</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Liver disease </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Spleen removal</li>
    </ul></p>

<p style= "color:#010f0f; font-family:Verdana,Arial">Presence of sphere-shaped cells may be due to:
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Low number of RBCs due to the body destroying them (immune hemolytic anemia)</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Low number of RBCs due to some RBCs shaped like spheres (hereditary spherocytosis)</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Increased breakdown of RBCs</li>
    </ul></p>
    
<p style= "color:#010f0f; font-family:Verdana,Arial">Presence of RBCs with an oval shape may be a sign of hereditary elliptocytosis or hereditary ovalocytosis. These are conditions in which RBCs are abnormally shaped.</p>

<p style= "color:#010f0f; font-family:Verdana,Arial">Presence of fragmented cells may be due to:
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Artificial heart valve</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Disorder in which the proteins that control blood clotting become overactive (disseminated intravascular coagulation)</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Infection in the digestive system producing toxic substances that destroy RBCs, causing kidney injury (hemolytic uremic syndrome)</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Blood disorder that causes blood clots to form in small blood vessels around the body and leads to a low platelet count (thrombotic thrombocytopenic purpura) </li>
    </ul></p>

<p style= "color:#010f0f; font-family:Verdana,Arial">Presence of a type of immature RBCs called normoblasts may be due to:
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Cancer that has spread to bone marrow</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Blood disorder called erythroblastosis fetalis that affects a fetus or newborn</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Tuberculosis that has spread from the lungs to other parts of the body through the blood (miliary tuberculosis)</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Disorder of the bone marrow in which the marrow is replaced by fibrous scar tissue (myelofibrosis) </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Removal of spleen</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Severe breakdown of RBCs (hemolysis)</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Disorder in which there is excessive breakdown of hemoglobin (thalassemia)</li>
    </ul></p>
    
<p style= "color:#010f0f; font-family:Verdana,Arial">The presence of cells called burr cells may indicate:
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Abnormally high level of nitrogen waste products in the blood(uremia)</li>
    </ul></p>
    
<p style= "color:#010f0f; font-family:Verdana,Arial">The presence of cells called spur cells may indicate:
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Inability to fully absorb dietary fats through the intestines (abetalipoproteinemia)</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Severe liver disease</li>
    </ul></p>
    
<p style= "color:#010f0f; font-family:Verdana,Arial">The presence of teardrop-shaped cells may indicate:
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Myelofibrosis</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Severe iron deficiency</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Thalassemia major</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Cancer in the bone marrow</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Anemia caused by bone marrow not producing normal blood cells due to toxins or tumor cells (myelophthisic process)</li>
    </ul></p>

<p style= "color:#010f0f; font-family:Verdana,Arial">The presence of Howell-Jolly bodies (a type of granule) may indicate:
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Bone marrow does not produce enough healthy blood cells (myelodysplasia)</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Spleen has been removed</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Sickle cell anemia</li>
    </ul></p>

<p style= "color:#010f0f; font-family:Verdana,Arial">The presence of Heinz bodies (bits of altered hemoglobin) may indicate:
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Alpha thalassemia</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Congenital hemolytic anemia</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Disorder in which RBCs break down when the body is exposed to certain medicines or is stressed because of infection (G6PD deficiency)</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Unstable form of hemoglobin</li>
    </ul></p>

<p style= "color:#010f0f; font-family:Verdana,Arial">The presence of slightly immature RBCs may indicate:
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Anemia with bone marrow recovery</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Hemolytic anemia</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Hemorrhage)</li>
    </ul></p>

<p style= "color:#010f0f; font-family:Verdana,Arial">The presence of basophilic stippling (a spotted appearance) may indicate:
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Lead poisoning</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Disorder of the bone marrow in which the marrow is replaced by fibrous scar tissue (myelofibrosis)</li>
    </ul></p>

<p style= "color:#010f0f; font-family:Verdana,Arial">The presence of sickle cells may indicate sickle cell anemia.</p>

</body>
</html>

In [23]:
def get_Peripheral_Smear(x):
    if x == 1:
        return random.randint(8,9)
    elif x ==0:
        return 7
    else:
        return 1000

In [24]:
df["Peripheral_Smear"] = df['Retic_count'].apply(lambda x: get_Peripheral_Smear(x))

In [25]:
df

,ID,age,sex,Retic_count,Bilirubin_count,LDH_count,Coombs_test,Peripheral_Smear
0,0,61,0,1,1000,1000,1000,8
1,1,51,1,1,1000,1000,1000,8
2,2,32,0,2,3,3,1000,1000
3,3,35,0,2,4,4,5,1000
4,4,58,1,2,3,3,1000,1000
...,...,...,...,...,...,...,...,...
995,995,43,1,1,1000,1000,1000,9
996,996,48,1,1,1000,1000,1000,8
997,997,58,1,0,1000,1000,1000,7
998,998,60,1,2,4,4,5,1000
999,1000,55,1,2,3,3,1000,1000

In [26]:
df.insert(8,"Ferritin_level",True)

<!DOCTYPE html>
<html>
<head>
    <meta charset=‚Äúutf-8‚Äù>
    <title></title>
</head>
<body>

<h1 style= "text-align:center;color:#052261;font-size:120%;"><u> FERRITIN BLOOD TEST  </u></h2>
<p style= "color:#010f0f; font-family:Verdana,Arial">The ferritin blood test measures the level of ferritin in the blood.<br/>Ferritin is a protein inside your cells that stores iron. It allows your body to use the iron when it needs it. A ferritin test indirectly measures the amount of iron in your blood

<h2 style="color:#38bdc2; font-family:Verdana,Arial; font-size:15pt">Why the Test is Performed?</h2>
<p style= "color:#010f0f; font-family:Verdana,Arial">The amount of ferritin in the blood (serum ferritin level) is directly related to the amount of iron stored in your body. Iron is needed to make healthy red blood cells. These cells carry oxygen to body tissues.<br/>Your provider may recommend this test if you have signs or symptoms of anemia due to low iron. Anemia is a condition in which the body does not have enough healthy red blood cells.</p>

<h3 style="color:#38bdc2; font-family:Verdana,Arial; font-size:15pt">What do the results mean?</h3>
<p style= "color:#010f0f; font-family:Verdana,Arial"><strong>Normal Results:</strong><br/>Normal value range is:<br/>
* Male: 12 to 300 nanograms per milliliter (ng/mL)<br/>* Female: 12 to 150 ng/mL<br/>The lower the ferritin level, even within the "normal" range, the more likely it is that the person does not have enough iron.</p><br/><strong>Abnormal Results:</strong><br/>A higher-than-normal ferritin level may be due to:  
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Liver disease due to alcohol abuse </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Any autoimmune disorder, such as rheumatoid arthritis </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Frequent transfusion of red blood cells </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Too much iron in the body (hemochromatosis) </li>
    </ul></p>
<p style= "color:#010f0f; font-family:Verdana,Arial">A lower-than-normal level of ferritin occurs if you have anemia caused by low iron levels in the body. This type of anemia may be due to:</br>
        <li style= "color:#010f0f; font-family:Verdana,Arial">A diet too low in iron </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Heavy bleeding from an injury </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Heavy menstrual bleeding </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Poor absorption of iron from food, medicines, or vitamins </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Bleeding in the esophagus, stomach, or intestines </li>
    </ul></p>
</body>
</html>

In [27]:
def get_Ferritin_level(x):
    if x == 7:
        return random.randint(10,11)
    else:
        return 1000

In [28]:
df["Ferritin_level"] = df['Peripheral_Smear'].apply(lambda x: get_Ferritin_level(x))

In [29]:
df

,ID,age,sex,Retic_count,Bilirubin_count,LDH_count,Coombs_test,Peripheral_Smear,Ferritin_level
0,0,61,0,1,1000,1000,1000,8,1000
1,1,51,1,1,1000,1000,1000,8,1000
2,2,32,0,2,3,3,1000,1000,1000
3,3,35,0,2,4,4,5,1000,1000
4,4,58,1,2,3,3,1000,1000,1000
...,...,...,...,...,...,...,...,...,...
995,995,43,1,1,1000,1000,1000,9,1000
996,996,48,1,1,1000,1000,1000,8,1000
997,997,58,1,0,1000,1000,1000,7,10
998,998,60,1,2,4,4,5,1000,1000
999,1000,55,1,2,3,3,1000,1000,1000

In [30]:
df.insert(9,"Hb_electrophoresis",True)

<!DOCTYPE html>
<html>
<head>
    <meta charset=‚Äúutf-8‚Äù>
    <title></title>
</head>
<body>

<h1 style= "text-align:center;color:#052261;font-size:120%;"><u> Hemoglobin electrophoresis  </u></h2>
<p style= "color:#010f0f; font-family:Verdana,Arial">Hemoglobin is a protein that carries oxygen in the blood. Hemoglobin electrophoresis measures the levels of the different types of this protein in the blood.</p>

<h2 style="color:#38bdc2; font-family:Verdana,Arial; font-size:15pt">Why the Test is Performed?</h2>
<p style= "color:#010f0f; font-family:Verdana,Arial">* You may have this test if your health care provider suspects that you have a disorder caused by abnormal forms of hemoglobin (hemoglobinopathy).<br/>* Many different types of hemoglobin (Hb) exist. The most common ones are HbA, HbA2, HbE, HbF, HbS, HbC, HbH, and HbM. Healthy adults only have significant levels of only HbA and HbA2.<br/>* Some people may also have small amounts of HbF. This is the main type of hemoglobin in an unborn baby's body. Certain diseases are associated with high HbF levels (when HbF is more than 2% of the total hemoglobin).<br/>* HbS is an abnormal form of hemoglobin associated with sickle cell anemia. In people with this condition, the red blood cells sometimes have a crescent or sickle shape. These cells easily break down or can block small blood vessels.<br/>* HbC is an abnormal form of hemoglobin associated with hemolytic anemia. The symptoms are much milder than they are in sickle cell anemia.<br/>* Other, less common, abnormal Hb molecules cause other types of anemia.</p>

<h3 style="color:#38bdc2; font-family:Verdana,Arial; font-size:15pt">What do the results mean?</h3>
<p style= "color:#010f0f; font-family:Verdana,Arial"><strong>Normal Results:</strong><br/>In adults, these are normal percentages of different hemoglobin molecules:
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">HbA: 95% to 98% (0.95 to 0.98) </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">HbA2: 2% to 3% (0.02 to 0.03) </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">HbE: Absent </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">HbF: 0.8% to 2% (0.008 to 0.02) </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">HbS: Absent </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">HbC: Absent </li>
    </ul><br/>In infants and children, these are normal percentage of HbF molecules:<br/>
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">HbF (newborn): 50% to 80% (0.5 to 0.8) </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">HbF (6 months): 8% </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">HbF (over 6 months): 1% to 2% </li>
    </ul></p><br/><strong>Abnormal Results:</strong><br/>Significant levels of abnormal hemoglobins may indicate: 
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Hemoglobin C disease </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Rare hemoglobinopathy </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Sickle cell anemia </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Inherited blood disorder in which the body makes an abnormal form of hemoglobin (thalassemia) </li>
    </ul></p>
    
<p style= "color:#010f0f; font-family:Verdana,Arial">You may have false normal or abnormal results if you have had a blood transfusion within 12 weeks of this test.</p>
</body>
</html>

In [31]:
def get_Hb_electrophoresis(x):
    if x == 11:
        return random.randint(12,13)
    else:
        return 1000

In [32]:
df["Hb_electrophoresis"] = df['Ferritin_level'].apply(lambda x: get_Hb_electrophoresis(x))

In [33]:
df

,ID,age,sex,Retic_count,Bilirubin_count,LDH_count,Coombs_test,Peripheral_Smear,Ferritin_level,Hb_electrophoresis
0,0,61,0,1,1000,1000,1000,8,1000,1000
1,1,51,1,1,1000,1000,1000,8,1000,1000
2,2,32,0,2,3,3,1000,1000,1000,1000
3,3,35,0,2,4,4,5,1000,1000,1000
4,4,58,1,2,3,3,1000,1000,1000,1000
...,...,...,...,...,...,...,...,...,...,...
995,995,43,1,1,1000,1000,1000,9,1000,1000
996,996,48,1,1,1000,1000,1000,8,1000,1000
997,997,58,1,0,1000,1000,1000,7,10,1000
998,998,60,1,2,4,4,5,1000,1000,1000
999,1000,55,1,2,3,3,1000,1000,1000,1000

In [34]:
df.insert(10,"Other_blood_cell_count\(Pancytopenia +/-)",True)

The above inserted feature is a analytical finding in Complete Blood Count test. If the RBC, WBC and platelets count all together are below the normal range, then it is called Pancytopenia.

In [35]:
def get_Other_blood_cell_count(x):
    if x == 8:
        return random.randint(14,15)
    else:
        return 1000

In [36]:
df["Other_blood_cell_count\(Pancytopenia +/-)"] = df['Peripheral_Smear'].apply(lambda x: get_Other_blood_cell_count(x))

In [37]:
df

,ID,age,sex,Retic_count,Bilirubin_count,LDH_count,Coombs_test,Peripheral_Smear,Ferritin_level,Hb_electrophoresis,Other_blood_cell_count\(Pancytopenia +/-)
0,0,61,0,1,1000,1000,1000,8,1000,1000,14
1,1,51,1,1,1000,1000,1000,8,1000,1000,14
2,2,32,0,2,3,3,1000,1000,1000,1000,1000
3,3,35,0,2,4,4,5,1000,1000,1000,1000
4,4,58,1,2,3,3,1000,1000,1000,1000,1000
...,...,...,...,...,...,...,...,...,...,...,...
995,995,43,1,1,1000,1000,1000,9,1000,1000,1000
996,996,48,1,1,1000,1000,1000,8,1000,1000,14
997,997,58,1,0,1000,1000,1000,7,10,1000,1000
998,998,60,1,2,4,4,5,1000,1000,1000,1000
999,1000,55,1,2,3,3,1000,1000,1000,1000,1000

In [38]:
df.insert(11,"Serum_Creatinine",True)

<!DOCTYPE html>
<html>
<head>
    <meta charset=‚Äúutf-8‚Äù>
    <title></title>
</head>
<body>

<h1 style= "text-align:center;color:#052261;font-size:120%;"><u> Serum Creatinine level </u></h1>
<p style= "color:#010f0f; font-family:Verdana,Arial">The creatinine blood test measures the level of creatinine in the blood. This test is done to see how well your kidneys are working.<br/>Creatinine can also be measured with a urine test.</p>

<h2 style="color:#38bdc2; font-family:Verdana,Arial; font-size:15pt">Why the Test is Performed?</h2>
<p style= "color:#010f0f; font-family:Verdana,Arial">Creatinine is a chemical waste product of creatine. Creatine is a chemical made by the body and is used to supply energy mainly to muscles.<br/>This test is done to see how well your kidneys work. Creatinine is removed from the body entirely by the kidneys. If kidney function is not normal, the creatinine level in your blood will increase. This is because less creatinine is excreted through your urine.</p>

<h3 style="color:#38bdc2; font-family:Verdana,Arial; font-size:15pt">What do the results mean?</h3>
<p style= "color:#010f0f; font-family:Verdana,Arial"><strong>Normal Results:</strong><br/>
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">A normal result is 0.7 to 1.3 mg/dL (61.9 to 114.9 ¬µmol/L) for men and 0.6 to 1.1 mg/dL (53 to 97.2 ¬µmol/L) for women. </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Women often have a lower creatinine level than men. This is because women often have less muscle mass than men. Creatinine level varies based on a person's size and muscle mass </li>
    </ul></p><br/><strong>Abnormal Results:</strong><br/>A higher than normal level may be due to: 
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Blocked urinary tract </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Kidney problems, such as kidney damage or failure, infection, or reduced blood flow </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Loss of body fluid (dehydration) </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Muscle problems, such as breakdown of muscle fibers (rhabdomyolysis) </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Problems during pregnancy, such as seizures caused by eclampsia or high blood pressure caused by preeclampsia </li>
    </ul></p>

<p style= "color:#010f0f; font-family:Verdana,Arial">A lower than normal level may be due to:<br/>
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Conditions involving the muscles and nerves that lead to decreased muscle mass </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Malnutrition </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">There are many other conditions for which the test may be ordered, such as high blood pressure, diabetes, or medicine overdose. </li>
    </ul></p>

</body>
</html>

In [39]:
def get_Serum_Creatinine(x):
    if x == 15:
        return random.randint(16,17)
    else:
        return 1000

In [40]:
df["Serum_Creatinine"] = df['Other_blood_cell_count\(Pancytopenia +/-)'].apply(lambda x: get_Serum_Creatinine(x))

In [41]:
df

,ID,age,sex,Retic_count,Bilirubin_count,LDH_count,Coombs_test,Peripheral_Smear,Ferritin_level,Hb_electrophoresis,Other_blood_cell_count\(Pancytopenia +/-),Serum_Creatinine
0,0,61,0,1,1000,1000,1000,8,1000,1000,14,1000
1,1,51,1,1,1000,1000,1000,8,1000,1000,14,1000
2,2,32,0,2,3,3,1000,1000,1000,1000,1000,1000
3,3,35,0,2,4,4,5,1000,1000,1000,1000,1000
4,4,58,1,2,3,3,1000,1000,1000,1000,1000,1000
...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,43,1,1,1000,1000,1000,9,1000,1000,1000,1000
996,996,48,1,1,1000,1000,1000,8,1000,1000,14,1000
997,997,58,1,0,1000,1000,1000,7,10,1000,1000,1000
998,998,60,1,2,4,4,5,1000,1000,1000,1000,1000
999,1000,55,1,2,3,3,1000,1000,1000,1000,1000,1000

In [42]:
df.insert(12,"TSH_Level",True)

<!DOCTYPE html>
<html>
<head>
    <meta charset=‚Äúutf-8‚Äù>
    <title></title>
</head>
<body>

<h1 style= "text-align:center;color:#052261;font-size:120%;"><u> TSH TEST </u></h1>
<p style= "color:#010f0f; font-family:Verdana,Arial">A TSH test measures the amount of thyroid stimulating hormone (TSH) in your blood. TSH is produced by the pituitary gland. It prompts the thyroid gland to make and release thyroid hormones into the blood</p>

<h2 style="color:#38bdc2; font-family:Verdana,Arial; font-size:15pt">Why the Test is Performed?</h2>
<p style= "color:#010f0f; font-family:Verdana,Arial">Your provider will order this test if you have symptoms or signs of an overactive or underactive thyroid gland. It is also used to monitor treatment of these conditions.<br/>Your provider may also check your TSH level if you are planning to get pregnant.</p>

<h3 style="color:#38bdc2; font-family:Verdana,Arial; font-size:15pt">What do the results mean?</h3>
<p style= "color:#010f0f; font-family:Verdana,Arial"><strong>Normal Results:</strong><br/>Normal values range from 0.5 to 5 microunits per milliliter (¬µU/mL).<br/><br/>TSH values can vary during the day. It is best to have the test early in the morning. Experts do not fully agree on what the upper number should be when diagnosing thyroid disorders.<br/><br/>If you are being treated for a thyroid disorder, your TSH level will likely be kept between 0.5 and 4.0 ¬µU/mL, except when:<br/>
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">A pituitary disorder is the cause of the thyroid problem. A low TSH may be expected. </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">You have a history of certain types of thyroid cancer. A TSH value below the normal range may be best to prevent the thyroid cancer from coming back. </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">A woman is pregnant. The normal range for TSH is different for women who are pregnant. Your provider may suggest that you take thyroid hormone, even if your TSH is in the normal range. </li>
    </ul></p>
    
<p style= "color:#010f0f; font-family:Verdana,Arial"><strong>Abnormal Results:</strong><br/>A higher-than-normal TSH level is most often due to an underactive thyroid gland (hypothyroidism). There are many causes of this problem.<br/>A lower-than-normal level may be due to an overactive thyroid gland, which can be caused by:<br/>
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Graves disease</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Toxic nodular goiter or multinodular goiter </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Too much iodine in the body (due to receiving iodine contrast used during imaging tests, such as CT scan) </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Taking too much thyroid hormone medicine or prescribed natural or over-the-counter supplements that contain thyroid hormone</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Graves disease</li>
    </ul></p>

<p style= "color:#010f0f; font-family:Verdana,Arial">Use of certain medicines may also cause a lower-than-normal TSH level. These include glucocorticoids/steroids, dopamine, certain chemotherapy drugs, and opioid painkillers such as morphine.</p>

</body>
</html>

In [43]:
def get_TSH_Level(x):
    if x == 16:
        return random.randint(18,19)
    else:
        return 1000

In [44]:
df["TSH_Level"] = df['Serum_Creatinine'].apply(lambda x: get_TSH_Level(x))

In [45]:
df

,ID,age,sex,Retic_count,Bilirubin_count,LDH_count,Coombs_test,Peripheral_Smear,Ferritin_level,Hb_electrophoresis,Other_blood_cell_count\(Pancytopenia +/-),Serum_Creatinine,TSH_Level
0,0,61,0,1,1000,1000,1000,8,1000,1000,14,1000,1000
1,1,51,1,1,1000,1000,1000,8,1000,1000,14,1000,1000
2,2,32,0,2,3,3,1000,1000,1000,1000,1000,1000,1000
3,3,35,0,2,4,4,5,1000,1000,1000,1000,1000,1000
4,4,58,1,2,3,3,1000,1000,1000,1000,1000,1000,1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,43,1,1,1000,1000,1000,9,1000,1000,1000,1000,1000
996,996,48,1,1,1000,1000,1000,8,1000,1000,14,1000,1000
997,997,58,1,0,1000,1000,1000,7,10,1000,1000,1000,1000
998,998,60,1,2,4,4,5,1000,1000,1000,1000,1000,1000
999,1000,55,1,2,3,3,1000,1000,1000,1000,1000,1000,1000

In [46]:
df.insert(13,"Serum_electrophoresis",True)

<!DOCTYPE html>
<html>
<head>
    <meta charset=‚Äúutf-8‚Äù>
    <title></title>
</head>
<body>

<h1 style= "text-align:center;color:#052261;font-size:120%;"><u> SERUM ELECTROPHORESIS  </u></h1>
<p style= "color:#010f0f; font-family:Verdana,Arial">The serum globulin electrophoresis test measures the levels of proteins called globulins in the fluid part of a blood sample. This fluid is called serum.</p>
    
<h2 style= "color:#38bdc2; font-family:Verdana,Arial; font-size:15pt"> I)How the Test is Performed?</h2>
<p style= "color:#010f0f; font-family:Verdana,Arial">A blood sample is needed.<br/>In the lab, the technician places the blood sample on special paper and applies an electric current. The proteins move on the paper and form bands that show the amount of each protein.</p>

<h3 style="color:#38bdc2; font-family:Verdana,Arial; font-size:15pt">II)Why the Test is Performed?</h3>
<p style= "color:#010f0f; font-family:Verdana,Arial">This test is done to look at globulin proteins in the blood. Identifying the types of globulins can help diagnose certain medical problems.<br/><br/>Globulins are roughly divided into three groups: alpha, beta, and gamma globulins. Gamma globulins include various types of antibodies such as immunoglobulins (Ig) M, G, and A.<br/><br/>Certain diseases are associated with producing too many immunoglobulins. For example, Waldenstrom macroglobulinemia is a cancer of certain white blood cells. It is linked with producing too many IgM antibodies.</p>

<h4 style="color:#38bdc2; font-family:Verdana,Arial; font-size:15pt">III)What do the results mean?</h4>
<p style= "color:#010f0f; font-family:Verdana,Arial"><strong>Normal Results:</strong><br/> Normal value ranges are:<br/>
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Serum globulin: 2.0 to 3.5 grams per deciliter (g/dL) or 20 to 35 grams per liter (g/L) </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">IgM component: 75 to 300 milligrams per deciliter (mg/dL) or 750 to 3,000 milligrams per liter (mg/L) </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">IgG component: 650 to 1,850 mg/dL or 6.5 to 18.50 g/L </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">IgA component: 90 to 350 mg/dL or 900 to 3,500 mg/L. </li>
    </ul></p>

<p style= "color:#010f0f; font-family:Verdana,Arial"><strong>Abnormal Results:</strong><br/> Increased gamma globulin proteins may indicate<br/>  
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Acute infection </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Blood and bone marrow cancers including multiple myeloma, and some lymphomas and leukemias
 </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Immune deficiency disorders </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Long-term (chronic) inflammatory disease (for example, rheumatoid arthritis and systemic lupus erythematosus) </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Waldenstr√∂m macroglobulinemia </li>
    </ul></p>   
</body>
</html>

In [47]:
def get_Serum_electrophoresis(x):
    if x == 18:
        return random.randint(20,21)
    else:
        return 1000

In [48]:
df["Serum_electrophoresis"] = df['TSH_Level'].apply(lambda x: get_Serum_electrophoresis(x))

In [49]:
df

,ID,age,sex,Retic_count,Bilirubin_count,LDH_count,Coombs_test,Peripheral_Smear,Ferritin_level,Hb_electrophoresis,Other_blood_cell_count\(Pancytopenia +/-),Serum_Creatinine,TSH_Level,Serum_electrophoresis
0,0,61,0,1,1000,1000,1000,8,1000,1000,14,1000,1000,1000
1,1,51,1,1,1000,1000,1000,8,1000,1000,14,1000,1000,1000
2,2,32,0,2,3,3,1000,1000,1000,1000,1000,1000,1000,1000
3,3,35,0,2,4,4,5,1000,1000,1000,1000,1000,1000,1000
4,4,58,1,2,3,3,1000,1000,1000,1000,1000,1000,1000,1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,43,1,1,1000,1000,1000,9,1000,1000,1000,1000,1000,1000
996,996,48,1,1,1000,1000,1000,8,1000,1000,14,1000,1000,1000
997,997,58,1,0,1000,1000,1000,7,10,1000,1000,1000,1000,1000
998,998,60,1,2,4,4,5,1000,1000,1000,1000,1000,1000,1000
999,1000,55,1,2,3,3,1000,1000,1000,1000,1000,1000,1000,1000

In [50]:
df.insert(14,"B12_or_Folate_levels",True)

Here,I have explained only Vitamin B12 test as Folate level test is rarely done nowadays.

<!DOCTYPE html>
<html>
<head>
    <meta charset=‚Äúutf-8‚Äù>
    <title></title>
</head>
<body>

<h1 style= "text-align:center;color:#052261;font-size:120%;"><u> VITAMIN B12 TEST  </u></h1>
<p style= "color:#010f0f; font-family:Verdana,Arial">The vitamin B12 level is a blood test that measures how much vitamin B12 is in your blood</p>

<h2 style="color:#38bdc2; font-family:Verdana,Arial; font-size:15pt">Why the Test is Performed?</h2>
<p style= "color:#010f0f; font-family:Verdana,Arial">This test is most often done when other blood tests suggest a condition called megaloblastic anemia. Pernicious anemia is a form of megaloblastic anemia caused by poor vitamin B12 absorption. This can occur when the stomach makes less of the substance the body needs to properly absorb vitamin B12.<br/><br/>Your provider may also recommend a vitamin B12 test if you have certain nervous system symptoms. A low level of B12 can cause numbness or tingling in the arms and legs, weakness, and loss of balance.<br/><br/>Other conditions for which the test may be done include:<br/>
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Sudden severe confusion (delirium) </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Loss of brain function (dementia)</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Dementia due to metabolic causes </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Nerve abnormalities, such as peripheral neuropathy </li>
    </ul></p>        

<h3 style="color:#38bdc2; font-family:Verdana,Arial; font-size:15pt">III)What do the results mean?</h3>
<p style= "color:#010f0f; font-family:Verdana,Arial"><strong>Normal Results:</strong><br/> Normal values are 160 to 950 picograms per milliliter (pg/mL), or 118 to 701 picomoles per liter (pmol/L).<br/></p>

<p style= "color:#010f0f; font-family:Verdana,Arial"><strong>Abnormal Results:</strong><br/> Values of less than 160 pg/mL (118 pmol/L) are a possible sign of a vitamin B12 deficiency. People with this deficiency are likely to have or develop symptoms.<br/><br/>Older adults with a vitamin B12 level less than 100 pg/mL (74 pmol/L) may also have symptoms. Deficiency should be confirmed by checking the level of a substance in the blood called methylmalonic acid. A high level indicates a true B12 deficiency.<br/><br/>Causes of vitamin B12 deficiency include:<br/>  
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Not enough vitamin B12 in diet (rare, except with a strict vegetarian diet) </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Diseases that cause malabsorption (for example, celiac disease and Crohn disease)</li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Lack of intrinsic factor, a protein that helps the intestine absorb vitamin B12 </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Above normal heat production (for example, with hyperthyroidism) </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Pregnancy </li>
    </ul></p>
    
<p style= "color:#010f0f; font-family:Verdana,Arial">An increased vitamin B12 level is uncommon. Usually, excess vitamin B12 is removed in the urine.<br/><br/>Conditions that can increase B12 level include:<br/>
    <ul>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Liver disease (such as cirrhosis or hepatitis) </li>
        <li style= "color:#010f0f; font-family:Verdana,Arial">Myeloproliferative disorders (for example, polycythemia vera and chronic myelogenous leukemia)</li>    
    </ul></p>
</body>
</html>

In [51]:
def get_B12_or_Folate_levels(x):
    if x == 9:
        return random.randint(22,23)
    else:
        return 1000

In [52]:
df["B12_or_Folate_levels"] = df['Peripheral_Smear'].apply(lambda x: get_B12_or_Folate_levels(x))

In [53]:
df

,ID,age,sex,Retic_count,Bilirubin_count,LDH_count,Coombs_test,Peripheral_Smear,Ferritin_level,Hb_electrophoresis,Other_blood_cell_count\(Pancytopenia +/-),Serum_Creatinine,TSH_Level,Serum_electrophoresis,B12_or_Folate_levels
0,0,61,0,1,1000,1000,1000,8,1000,1000,14,1000,1000,1000,1000
1,1,51,1,1,1000,1000,1000,8,1000,1000,14,1000,1000,1000,1000
2,2,32,0,2,3,3,1000,1000,1000,1000,1000,1000,1000,1000,1000
3,3,35,0,2,4,4,5,1000,1000,1000,1000,1000,1000,1000,1000
4,4,58,1,2,3,3,1000,1000,1000,1000,1000,1000,1000,1000,1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,43,1,1,1000,1000,1000,9,1000,1000,1000,1000,1000,1000,22
996,996,48,1,1,1000,1000,1000,8,1000,1000,14,1000,1000,1000,1000
997,997,58,1,0,1000,1000,1000,7,10,1000,1000,1000,1000,1000,1000
998,998,60,1,2,4,4,5,1000,1000,1000,1000,1000,1000,1000,1000
999,1000,55,1,2,3,3,1000,1000,1000,1000,1000,1000,1000,1000,1000

In [54]:
df.insert(15,"CLASS",True)

### <font color='#4287f5'>Lets label the 'CLASS' column now... </font>

In [55]:
# here I have selected the rows where in the value of 'Bilirubin_count' is 3
rows = df[df['Bilirubin_count'] == 3].index.tolist()

In [56]:
# now,I locked the corresponding 'CLASS' rows with that of the above selected rows and labelled it as 10(just an arbitrary number)
df.loc[rows,'CLASS'] = 10

Similar to the above method,I classified all the 'CLASS' values as per the picture below

<!DOCTYPE html>
<html>
<body>

<h2 style= "text-align:center;color:#4A5154;font-size:120%;"><u> Approach to Classification for the Cause of Anaemia  </u></h2>
<img src="classified_anaemia.jpeg" alt="m" width="900" height="533">

</body>
</html>

In [91]:
df['CLASS'].value_counts()

10      169
40      168
60       97
70       92
110      86
120      81
20       80
50       70
30       68
100      45
90       22
True     12
80       10
Name: CLASS, dtype: int64

In [93]:
# lets select the rows in which the values in the 'CLASS' column has still 'True' values i.e, left unclassified
rows = df[df['CLASS'] == True].index.tolist()

In [94]:
# lets drop these unlabelled rows
df = df.drop(rows)

In [96]:
# So,the number of rows are 988 after dropping unlabelled rows
df.shape

(988, 16)

In [103]:
# lets save the dataset
df.to_csv(r'D:\DSF\PROJECTPRO\MEDICAL_PROJECTS\2.HEMATOLOGICAL DISORDER(ANAEMIA)\Anaemia.csv',index = False)