# <div style="display:fill;border-radius:5px;background-color:#676F9F;letter-spacing:0.5px;overflow:hidden"><p style="padding:20px;color:#F1EFF5;overflow:hidden;margin:0;font-size:150%;font-style: Helvetica;text-align:center"><b></b>WHAT IF DOCTORüßë‚Äç‚öïÔ∏è PREPARES AN AI MODEL??ü§î</p></div>

In the previous notebook, I focused on preparing a dataset which pretty much similar to the real world dataset on comparison.In this notebook, lets explore the dataset...

## <font color='#4287f5'>Importing necessary libraries...</font>

In [2]:
import pandas as pd                       # library for data manipulation (data cleaning,analysing...)
import numpy as np                        # library for numerical computation
import matplotlib.pyplot as plt           # library for data visualization which is built on NumPy arrays
%matplotlib inline
import seaborn as sns                     # library for data visualization built on top of matplotlib and 
                                          # closely integrated with pandas data structures in Python.

import random

import warnings                           # to avoid warning flash
warnings.filterwarnings('ignore')

# Other libraries will be imported in the following steps as and when required....

In [3]:
#Load the dataset which we have created previously......
df = pd.read_csv(r"D:\DSF\PROJECTPRO\MEDICAL_PROJECTS\3.HEPATIC_DISEASES\jaundice.csv")

In [4]:
df

,ID,age,sex,Conjugated_Bilirubin_count,Unconjugated_Bilirubin_count,Total_Bilirubin_count,Conjugated/Total_bilirubin_Ratio,urine_bilirubin,urine_urobilinogen,fecal_stercobilinogen,urine_bile_salts,AST,ALT,ALP,Serum_albumin,urine_color,stool_color,Hb%,Heart_rate,Diagnosis
0,0,49,0,2.72,4.01,6.73,40.4,1,1,1,1,141,193,183,1.55,1,0,9.776846,62,2
1,1,42,1,1.62,8.55,10.17,15.9,1,1,1,1,133,191,257,3.01,1,0,10.419697,70,2
2,2,50,0,9.67,6.43,16.10,60.1,2,2,0,2,75,73,902,4.95,2,1,13.307444,57,3
3,3,26,0,0.64,10.22,10.86,5.9,1,1,1,1,174,114,186,2.83,1,0,9.250229,72,2
4,4,52,0,1.98,6.09,8.07,24.5,1,1,1,1,153,114,290,2.07,1,0,9.737639,66,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,55,0,8.96,7.27,16.23,55.2,2,2,0,2,109,42,647,4.28,2,1,12.129707,56,3
996,996,43,1,9.44,7.80,17.24,54.8,2,2,0,2,58,45,869,3.86,2,1,11.641941,57,3
997,997,42,0,0.31,2.50,2.81,11.0,0,0,2,0,23,19,42,4.40,0,2,5.579198,99,1
998,998,54,1,2.09,4.83,6.92,30.2,1,1,1,1,120,94,256,3.43,1,0,8.199968,69,2
999,1000,37,1,0.35,10.31,10.66,3.3,0,0,2,0,33,3,107,5.00,0,2,7.404115,87,1

In [5]:
df.columns

Index(['ID', 'age', 'sex', 'Conjugated_Bilirubin_count',
       'Unconjugated_Bilirubin_count', 'Total_Bilirubin_count',
       'Conjugated/Total_bilirubin_Ratio', 'urine_bilirubin',
       'urine_urobilinogen', 'fecal_stercobilinogen', 'urine_bile_salts',
       'AST', 'ALT', 'ALP', 'Serum_albumin', 'urine_color', 'stool_color',
       'Hb%', 'Heart_rate', 'Diagnosis'],
      dtype='object')

In [6]:
df.shape

(1000, 20)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                1000 non-null   int64
 1   age                               1000 non-null   int64
 2   sex                               1000 non-null   int64
 3   Conjugated_Bilirubin_count        1000 non-null   float64
 4   Unconjugated_Bilirubin_count      1000 non-null   float64
 5   Total_Bilirubin_count             1000 non-null   float64
 6   Conjugated/Total_bilirubin_Ratio  1000 non-null   float64
 7   urine_bilirubin                   1000 non-null   int64
 8   urine_urobilinogen                1000 non-null   int64
 9   fecal_stercobilinogen             1000 non-null   int64
 10  urine_bile_salts                  1000 non-null   int64
 11  AST                               1000 non-null   int64
 12  ALT                               1000 non-null   int64
 13  ALP                               1000 non-null   int64
 14  Serum_albumin                     1000 non-null   float64
 15  urine_color                       1000 non-null   int64
 16  stool_color                       1000 non-null   int64
 17  Hb%                               1000 non-null   float64
 18  Heart_rate                        1000 non-null   int64
 19  Diagnosis                         1000 non-null   int64
dtypes: float64(6), int64(14)
memory usage: 156.4 KB

All the feature values are of either integer or float datatypes..

In [8]:
df.describe()

,ID,age,sex,Conjugated_Bilirubin_count,Unconjugated_Bilirubin_count,Total_Bilirubin_count,Conjugated/Total_bilirubin_Ratio,urine_bilirubin,urine_urobilinogen,fecal_stercobilinogen,urine_bile_salts,AST,ALT,ALP,Serum_albumin,urine_color,stool_color,Hb%,Heart_rate,Diagnosis
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,499.501000,49.789000,0.481000,3.593210,7.311330,10.904540,25.682500,0.975000,0.975000,1.025000,0.975000,85.996000,65.862000,317.749000,3.839320,0.975000,1.022000,9.582432,69.326000,1.975000
std,288.821169,14.998648,0.499889,4.328163,2.862028,4.728956,24.267323,0.820395,0.820395,0.820395,0.820395,59.847989,56.617581,294.065834,1.104637,0.820395,0.822309,2.906072,17.022794,0.820395
min,0.000000,10.000000,0.000000,0.100000,1.360000,2.550000,1.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,30.000000,1.520000,0.000000,0.000000,4.014738,40.000000,1.000000
25%,249.750000,39.000000,0.000000,0.320000,5.010000,7.040000,4.500000,0.000000,0.000000,0.000000,0.000000,29.750000,18.000000,95.000000,3.040000,0.000000,0.000000,7.686710,55.000000,1.000000
50%,499.500000,50.000000,0.000000,1.655000,7.185000,10.035000,18.550000,1.000000,1.000000,1.000000,1.000000,79.000000,49.000000,210.000000,4.010000,1.000000,1.000000,9.412778,69.000000,2.000000
75%,749.250000,60.000000,1.000000,5.802500,9.450000,16.510000,39.250000,2.000000,2.000000,2.000000,2.000000,138.000000,106.250000,467.000000,4.742500,2.000000,2.000000,11.939414,83.000000,3.000000
max,1000.000000,97.000000,1.000000,14.980000,14.830000,18.000000,91.500000,2.000000,2.000000,2.000000,2.000000,200.000000,200.000000,1097.000000,5.500000,2.000000,2.000000,14.988565,100.000000,3.000000

In [9]:
df.isnull().sum()

ID                                  0
age                                 0
sex                                 0
Conjugated_Bilirubin_count          0
Unconjugated_Bilirubin_count        0
Total_Bilirubin_count               0
Conjugated/Total_bilirubin_Ratio    0
urine_bilirubin                     0
urine_urobilinogen                  0
fecal_stercobilinogen               0
urine_bile_salts                    0
AST                                 0
ALT                                 0
ALP                                 0
Serum_albumin                       0
urine_color                         0
stool_color                         0
Hb%                                 0
Heart_rate                          0
Diagnosis                           0
dtype: int64

Since the dataset is hand made, there are no missing values but in real world, the dataset usually will be filled with more number of missing values. Don't be too happy, the real world dataset is not so pure as we have here. Most of the datasets contain more number of data bugs than being the pure one which I have here.

### Lets check for class imbalance...

In [11]:
df['Diagnosis'].value_counts()

1    349
2    327
3    324
Name: Diagnosis, dtype: int64

No class imbalance!!!! The reason is same.....the dataset is manually created...we can't expect the same in the practical scenario...However, I am only concerned about the model on how it predicts, which features it uses to predict...

Thats it,in this notebook...Lets visualize the dataset in the next one...