# <div style="display:fill;border-radius:5px;background-color:#676F9F;letter-spacing:0.5px;overflow:hidden"><p style="padding:20px;color:#F1EFF5;overflow:hidden;margin:0;font-size:150%;font-style: Helvetica;text-align:center"><b></b>WHAT IF DOCTORüßë‚Äç‚öïÔ∏è PREPARES AN AI MODEL??ü§î</p></div>

In the previous notebook, we came to know the overview of a project and how it looks like. In this notebook, lets discuss about the dataset we are working in..

Most of us who are aspiring to use AI in healthcare might have come across one of the most common datasets i.e.,'PIMA_INDIAN_DIABETES_DATASET'.

## About the Pima Indians diabetes mellitus dataset

The dataset that we will be using for this project comes from the **Pima Indians Diabetes
dataset**, as provided by the National Institute of Diabetes and Digestive and Kidney
Diseases (and hosted by Kaggle).

The *Pima Indians* are a group of **native Americans** living in Arizona, and they are a highly
studied group of people due to their genetic predisposition to diabetes. It is believed that
the Pima Indians carry a gene that allows them to survive long periods of starvation. This
thrifty gene allowed the Pima Indians to store in their bodies whatever glucose and
carbohydrates they may eat, which is genetically advantageous in an environment where
famines were common.

However, as society modernized and the Pima Indians began to change their diet to one of
processed food, the rate of type 2 diabetes among them began to increase as well. Today,
the incidence of type 2 diabetes among the Pima Indians is the **highest** in the world. This
makes them a highly studied group of people, as researchers attempt to find the **genetic
link of diabetes** among the Pima Indians.

The Pima Indians diabetes dataset consists of diagnostic measurements collected from a
sample of female Pima Indians, along with a *label indicating whether the patient developed
diabetes within five years of the initial measurement*. 

## Content of the Pima Indians diabetes mellitus dataset

The datasets consists of several medical predictor variables and one target variable, Outcome. Predictor variables includes the number of pregnancies the patient has had, their BMI, insulin level, age, and so on.

## My genuine opinion regarding the above dataset...

The dataset is very helpful for the beginners who are aspiring to be a data scientist. But if we want to adapt Artificial Intelligence into the healthcare field in true sense, then it must not just predict its results based on historical dataset but it has to mean it. In the sense, it must opine its results based on the data and not just simply predict it. In this regard, as a doctor, I am not happy with the features present in the dataset because the features like "'Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin','BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'" which are present in the dataset are hardly used to justify a person whether he is diabetic or not. Ofcourse, don't take me bad, the features like 'Glucose','Insulin','BMI' are helpful in just predicting the diagnosis but not in a confirmative way

## The way to a solution("I am thinking so")

As a doctor, I want to clearly say that prediction doesn't work in healthcare. For example, if a 26 years old person's BMI is 20 and if you ask any layman whether he is a diabetic or not, they usually respond the person to be a non-diabetic given the fact that the person is young and his BMI is "NORMAL_FOR_AGE". But the result may be totally wrong because these are hardly the features of choice for a doctor to say a particular case diabetic or not. So,instead of responding, I prescribe him few tests as we all know to conclude the results. And this seems to be interesting and therefore, I want to feed the AI model, the very features that we(doctors) see and train the model,test the model and then conclude the results , based on the features that the AI model selected to diagnose the case. This will make our approach a true way in predicting the result...

## THE_DATASET_CREATION........

I searched a lot of websites to get the true diabetic datasets with the very features I wanted but I failed to get the same. After so many attempts of searching, I came to a conclusion that as these are the healthcare related datasets, its very difficult to obtain the same as patients should give consent to use their health related information. Since, I am a doctor, I thought to seek Director's permission(Head of the Institution I'm working in) to use the blood reports of many patients to do a project, I stepped back not to do so because there are many policies which I thought will interfere in my way. So, I made my mind to create a one which looks like the real-world dataset.

Case scenario.....If a person comes with the symptoms of increased frequency of urination(polyuria), increased thirst(polydypsia) and increased appetite(polyphagia) along with non_specific sypmtoms like fatigue and others, I prescribe him some of the tests to see what is wrong in his internal biological harmony. Among many tests, 'FBG(Fasting_Blood_Glucose)','OGTT(Oral_Glucose_Tolerance_Test)','HbA1C','urine_routine' are some of the common tests prescribed.

I will describe about the above tests mentioned briefly as I build the dataset.

## <font color='#4287f5'>Importing necessary libraries...</font>

In [2]:
import pandas as pd                       # library for data manipulation (data cleaning,analysing...)
import numpy as np                        # library for numerical computation
import matplotlib.pyplot as plt           # library for data visualization which is built on NumPy arrays
%matplotlib inline
import seaborn as sns                     # library for data visualization built on top of matplotlib and 
                                          # closely integrated with pandas data structures in Python.

import random

import warnings                           # to avoid warning flash
warnings.filterwarnings('ignore')

# Other libraries will be imported in the following steps as the process moves....

Lets create the list of unique "ID's" as it will be present in the realworld dataset. But in real world, as a part of HIPAA(Health Insurance Portability and Accountability Acts), this column should be either converted to dummy variable or it should be dropped.

In [3]:
ID = list(np.linspace(0,1000,1000).astype(int))

'age' and 'sex' column is must in medical datasets

In [4]:
age = np.random.normal(50, 15, 1000).astype(int).tolist()
age = [(x + 20) if x < 10 else x for x in age]

In [5]:
# 1 - male
# 0 - female
sex = []
for i in range(0,1000):
    x = random.randint(0, 1)
    sex.append(x)

Lets add first important feature to our dataset i.e., 'FPG(Fasting Plasma Glucose)'
* FPG refers to the concentration of glucose in the plasma after overnight fasting...
* Normal value for plasma glucose is 70-100 mg/dl i.e,the expected values for normal fasting blood glucose concentration are between 70 mg/dL (3.9 mmol/L) and 100 mg/dL (5.6 mmol/L). 
* When fasting blood glucose is between 100 to 125 mg/dL (5.6 to 6.9 mmol/L) changes in lifestyle and monitoring glycemia are recommended. If fasting blood glucose is 126 mg/dL (7 mmol/L) or higher on two separate tests, diabetes is diagnosed. 
* An individual with low fasting blood glucose concentration (hypoglycemia) ‚Äì below 70 mg/dL (3.9 mmol/L) ‚Äì will experience dizziness, sweating, palpitations, blurred vision and other symptoms that have to be monitored. 
* Increased fasting blood glucose concentration (hyperglycemia) is an indicator of a higher risk to diabetes. An individual‚Äôs fasting blood plasma glucose (FPG) may be in the normal range because the individual is not diabetic or because of effective treatment with glucose-lowering medication in diabetics.

In [6]:
#FPG = np.random.normal(110, 25, 1000).astype(int).tolist()

In [7]:
# Lets make a list of fpg values in the range of 70 to 210
# I am not considering the values below 70 as I am only concentrating to classify as normal,pre-diabetic and diabetic classes
# But in real world, there will be hypoglycemic values as well,so we can then make a model of four classes. But for demonstrative
#....purpose, I'm using the values which are more than 70mg/dl
FPG = []
for i in range(0,1000):
    x = random.randint(70, 210)
    FPG.append(x)

In [8]:
# create a DataFrame
Report = {'ID': ID,'age': age,'sex': sex,'FPG': FPG}
df = pd.DataFrame(Report)

In [9]:
df

       ID  age  sex  FPG
0       0   43    1   88
1       1   39    1  187
2       2   57    0  135
3       3   46    1  200
4       4   59    1  111
..    ...  ...  ...  ...
995   995   41    1   91
996   996   76    0  206
997   997   56    1  187
998   998   48    0   90
999  1000   51    1  193

[1000 rows x 4 columns]

In [10]:
print ("cases within normal range:",df[(df['FPG'] > 70) & (df['FPG'] <= 100)].value_counts().sum())
print ("cases within pre-diabetic range:",df[(df['FPG'] > 100) & (df['FPG'] <= 125)].value_counts().sum())
print ("cases within diabetic range:",df[(df['FPG'] > 126)].value_counts().sum())

cases within normal range: 212
cases within pre-diabetic range: 184
cases within diabetic range: 595

So, there are 204 normal subjects, 197 pre-diabetic subjects and 586 true diabetic subjects in our dataset.

In [11]:
df['sex'].value_counts()

0    507
1    493
Name: sex, dtype: int64

Now,lets get the OGTT values for the corresponding FPG values in our dataset.

Before inserting the values of 'OGTT',lets know what it means...

### OGTT

* What is 'OGTT'?

The glucose tolerance test, also known as the oral glucose tolerance test, measures your body's response to sugar (glucose). The glucose tolerance test can be used to screen for type 2 diabetes. More commonly, a modified version of the glucose tolerance test is used to diagnose gestational diabetes ‚Äî a type of diabetes that develops during pregnancy.

* Why it's done?

The glucose tolerance test identifies abnormalities in the way your body handles glucose after a meal ‚Äî often before your fasting blood glucose level becomes abnormal.

* How you prepare?

Food and medications
It's important to eat and drink normally in the days leading up to the glucose tolerance test. Let your doctor know if you're ill or taking any medications, as these factors can affect the results of your test.

* What you can expect?
    
    1.Before the procedure
        For eight hours before the test, you won't be able to eat or drink anything. You might want to fast overnight and schedule the test for early the following morning.

    2.During the procedure
        The glucose tolerance test is done in several steps. When you arrive at your doctor's office or lab, a member of your health care team will take a sample of blood from a vein in your arm. This blood sample will be used to measure your fasting blood glucose level.
    * Type 2 diabetes
        If you're being tested for type 2 diabetes:

        You'll drink about 8 ounces (237 milliliters) of a syrupy glucose solution containing 2.6 ounces (75 grams) of sugar
        Two hours later, your blood glucose level will be measured again
        
     * Gestational diabetes
        The American College of Obstetricians and Gynecologists recommends performing a one-hour blood glucose challenge test to screen for gestational diabetes in low-risk pregnant women between 24 and 28 weeks of pregnancy.

I may recommend earlier screening if you're at increased risk of developing gestational diabetes. Risk factors may include:

* Gestational diabetes in an earlier pregnancy
* Family history of diabetes
* Obesity
* Having a medical condition associated with the development of diabetes, such as metabolic syndrome or polycystic ovary syndrome

If I determine you're at risk or you have a suspicious value on the one-hour test, you may be advised to take a three-hour glucose tolerance test.

For the three-hour test:

- You will be asked to come to the test fasting ‚Äî not having had anything to eat or drink for the previous eight hours. A fasting blood sugar will be obtained.
- You'll drink about 8 ounces (237 milliliters) of a glucose solution containing 3.5 ounces (100 grams) of sugar.
- Your blood glucose level will be tested again one, two and three hours after you drink the solution.
- After drinking the glucose solution, you'll likely need to remain in the doctor's office or lab while you're waiting for your blood glucose level to be tested.

    3.After the procedure
        After the glucose tolerance test, you can return to your usual activities immediately.

### Results

Results of the oral glucose tolerance test are given in milligrams per deciliter (mg/dL) or millimoles per liter (mmol/L).

1. Type 2 diabetes

If you're being tested for type 2 diabetes, two hours after drinking the glucose solution:

- A normal blood glucose level is lower than 140 mg/dL (7.8 mmol/L).
- A blood glucose level between 140 and 199 mg/dL (7.8 and 11 mmol/L) is considered impaired glucose tolerance, or prediabetes. If you have prediabetes, you're at risk of eventually developing type 2 diabetes. You're also at risk of developing heart disease, even if you don't develop diabetes.
- A blood glucose level of 200 mg/dL (11.1 mmol/L) or higher may indicate diabetes.
- If the results of your glucose tolerance test indicate type 2 diabetes, I may repeat the test on another day or use another blood test to confirm the diagnosis. Various factors can affect the accuracy of the glucose tolerance test, including illness, activity level and certain medications.

2. Gestational diabetes

If you're being tested for gestational diabetes, your doctor will consider the results of each blood glucose test.

Usually if your blood glucose level is higher than 140 mg/dL (7.8 mmol/L) after the one-hour test, then I will recommend the three-hour test. If your blood glucose level is higher than 190 mg/dL (10.6 mmol/L) after the one-hour test, you'll be diagnosed with gestational diabetes.

For the three-hour test:

- A normal fasting blood glucose level is lower than 95 mg/dL (5.3 mmol/L).
- One hour after drinking the glucose solution, a normal blood glucose level is lower than 180 mg/dL (10 mmol/L).
- Two hours after drinking the glucose solution, a normal blood glucose level is lower than 155 mg/dL (8.6 mmol/L).
- Three hours after drinking the glucose solution, a normal blood glucose level is lower than 140 mg/dL (7.8 mmol/L).
- If one of the results is higher than normal, you'll likely need to test again in four weeks. If two or more of the results are higher than normal, you'll be diagnosed with gestational diabetes.

If you're diagnosed with gestational diabetes, you can prevent complications by carefully managing your blood glucose level throughout the rest of your pregnancy.

In [12]:
df.insert(4,"OGTT",True)

In [13]:
# real-world dataset may not at all be the same as we are creating now but I want to give intuition of how AI can be made useful.
def get_OGTT(x):
    if x < 100:                                # here, I'm getting values between 100 and 140 for FPG values which are below 100    
        return random.randint(100,140)
    elif x >= 100 and x < 126:                 # here, I'm getting values between 140 and 200 for FPG values which are in range 100-126
        return random.randint(140 ,200)
    else :                                    # here, I'm getting values between 200 and 350 for FPG values which are above 126
        return random.randint(200 ,350)
# The method of getting OGTT values for the given FPG value which is shown here is completely wrong but I want to create the...
#...dataset which is atleast similar to the real world dataset but not the exact one.

In [14]:
# Set a length of the list to 1000
for i in range(0, 1000):
    df['OGTT'] = df['FPG'].apply(lambda x : get_OGTT(x))

In [15]:
df

       ID  age  sex  FPG  OGTT
0       0   43    1   88   119
1       1   39    1  187   237
2       2   57    0  135   221
3       3   46    1  200   205
4       4   59    1  111   173
..    ...  ...  ...  ...   ...
995   995   41    1   91   119
996   996   76    0  206   327
997   997   56    1  187   319
998   998   48    0   90   108
999  1000   51    1  193   224

[1000 rows x 5 columns]

In [16]:
# Set a length of the list to 1000
#for i in range(0, 1000):
   # df['OGTT'] = df['FPG'].apply(lambda x : random.randint(150 ,300 ) if x > 125 else random.randint(100 ,150))

## HbA1c

When haemoglobin from a normal adult is passed through a chromatographic column, it separates into two major components:
* Haemoglobin A (HbA) comprising 92-94% of the total haemoglobin.
* Haemoglobin Ale (HbAlc) consisting of several, fast-moving components, comprising 6-8% of the total haemoglobin.

* The rate of synthesis of HbAlc depends on the exposure of the red cell to glucose, and hence, its level increases with hyperglycaemia.
* The percentage of glycosylated haemoglobin (HbAl c) gives an estimate of the diabetic control for the preceding 3 month period.
* The goal in general is to have HbAlc below 7% but for individual patients, it should be as close to normal ( <6%) as possible without significant hypoglycaemia.

In [17]:
df.insert(5,"A1C",True)

In [18]:
#lets get HbA1c values and again, the method which is employed here,is completely wrong but it may be similar to real world dataset..
def A1C(x):
    if x > 200:
        return round(random.uniform(6.5, 8.0), 2)
    elif x in range(140,200):
        return round(random.uniform(5.7, 6.5), 2)
    else:
        return round(random.uniform(4.5, 5.7), 2)

In [19]:
for i in range(0, 1000):
    df['A1C'] = df['OGTT'].apply(lambda x: A1C(x))

In [20]:
df

       ID  age  sex  FPG  OGTT   A1C
0       0   43    1   88   119  4.68
1       1   39    1  187   237  7.87
2       2   57    0  135   221  7.27
3       3   46    1  200   205  7.97
4       4   59    1  111   173  5.96
..    ...  ...  ...  ...   ...   ...
995   995   41    1   91   119  5.65
996   996   76    0  206   327  7.28
997   997   56    1  187   319  6.51
998   998   48    0   90   108  5.15
999  1000   51    1  193   224  6.72

[1000 rows x 6 columns]

In [21]:
df.head(20)

    ID  age  sex  FPG  OGTT   A1C
0    0   43    1   88   119  4.68
1    1   39    1  187   237  7.87
2    2   57    0  135   221  7.27
3    3   46    1  200   205  7.97
4    4   59    1  111   173  5.96
5    5   41    1  202   256  7.38
6    6   43    1  156   249  7.67
7    7   57    0  198   342  7.15
8    8   39    1  183   301  6.93
9    9   32    1  140   343  7.15
10  10   46    0  184   267  7.08
11  11   39    0  200   221  6.61
12  12   51    1  149   331  7.12
13  13   40    0  137   339  7.19
14  14   63    0  189   219  6.71
15  15   43    0  201   237  7.01
16  16   57    1  120   181  6.22
17  17   49    0  129   312  6.74
18  18   49    1  206   335  7.08
19  19   21    0  148   258  7.24

In [22]:
A1C = []
# Set a length of the list to 1000
for i in range(0, 1000):
    # any random float between 50.50 to 500.50
    # don't use round() if you need number as it is
    x = round(random.uniform(5.0, 7.50), 2)
    A1C.append(x)

## Protein in Urine

* What is a protein in urine test?

A protein in urine test measures how much protein is in your urine. Proteins are substances that are essential for your body to function properly. Protein is normally found in the blood. If there is a problem with your kidneys, protein can leak into your urine. While a small amount is normal, a large amount of protein in urine may indicate kidney disease.

Other names: urine protein, 24-hour urine protein; urine total protein; ratio; reagent strip urinalysis

* What is it used for?

A protein in urine test is often part of a urinalysis, a test that measures different cells, chemicals, and substances in your urine. Urinalysis is often included as part of a routine exam. This test may also be used to look for or to monitor kidney disease.

* Why do I need a protein in urine test?

Your health care provider may have ordered a protein test as part of your regular checkup, or if you have symptoms of kidney disease. These symptoms include:

- Difficulty urinating
- Frequent urination, especially at night
- Nausea and vomiting
- Loss of appetite
- Swelling in the hands and feet
- Fatigue
- Itching

* Will I need to do anything to prepare for the test?

You don't need any special preparations to test for protein in urine. If your health care provider has ordered a 24-hour urine sample, you will get specific instructions on how to provide and store your samples.

* What do the results mean?

If a large amount of protein is found in your urine sample, it doesn't necessarily mean that you have a medical problem needing treatment. Strenuous exercise, diet, stress, pregnancy, and other factors can cause a temporary rise in urine protein levels. Your health care provider may recommend additional urinalysis tests if a high level of protein is found This testing may include a 24-hour urine sample test.

If your urine protein levels are consistently high, it may indicate kidney damage or other medical condition. These include:

- Urinary tract infection
- Lupus
- High blood pressure
- Preeclampsia, a serious complication of pregnancy, marked by high blood pressure. If it is not treated, preeclampsia can be life-threatening to the mother and baby.
- Diabetes
- Certain types of cancer

In [23]:
df.insert(6,"urine_proteins",True)

In [24]:
#Lets get the values of proteins in urine....
def urine_proteins(x):
    if x > 6.5 and x < 8.0:
        return 2                  # 2++ (high)
    elif x > 5.7 and x < 6.5:
        return 1                  # 1++ (borderline)
    else:
        return 0                  # normal

In [25]:
for i in range(0, 1000):
    df['urine_proteins'] = df['A1C'].apply(lambda x: urine_proteins(x) )

In [26]:
df

       ID  age  sex  FPG  OGTT   A1C  urine_proteins
0       0   43    1   88   119  4.68               0
1       1   39    1  187   237  7.87               2
2       2   57    0  135   221  7.27               2
3       3   46    1  200   205  7.97               2
4       4   59    1  111   173  5.96               1
..    ...  ...  ...  ...   ...   ...             ...
995   995   41    1   91   119  5.65               0
996   996   76    0  206   327  7.28               2
997   997   56    1  187   319  6.51               2
998   998   48    0   90   108  5.15               0
999  1000   51    1  193   224  6.72               2

[1000 rows x 7 columns]

## Labelling the features with the class...

In [27]:
df.insert(7,"CLASS",True)

In [28]:
def get_CLASS(x):
    if x > 6.5:                  # if the HbA1c values > 6.5 , then Diabetic
        return 2
    elif x > 5.7 and x < 6.5:    # if the HbA1c values between 5.7 and 6.5 , then Pre-Diabetic
        return 1
    else :                       # # if the HbA1c values < 5.7 , then normal.
        return 0

In [29]:
# Set a length of the list to 1000
for i in range(0, 1000):
    df['CLASS'] = df['A1C'].apply(lambda x: get_CLASS(x))

In [30]:
df

       ID  age  sex  FPG  OGTT   A1C  urine_proteins  CLASS
0       0   43    1   88   119  4.68               0      0
1       1   39    1  187   237  7.87               2      2
2       2   57    0  135   221  7.27               2      2
3       3   46    1  200   205  7.97               2      2
4       4   59    1  111   173  5.96               1      1
..    ...  ...  ...  ...   ...   ...             ...    ...
995   995   41    1   91   119  5.65               0      0
996   996   76    0  206   327  7.28               2      2
997   997   56    1  187   319  6.51               2      2
998   998   48    0   90   108  5.15               0      0
999  1000   51    1  193   224  6.72               2      2

[1000 rows x 8 columns]

In [31]:
# lets find the count of each class in the created dataset...
df['CLASS'].value_counts()

2    594
0    212
1    194
Name: CLASS, dtype: int64

In [33]:
df.to_csv('D:\DSF\PROJECTPRO\MEDICAL_PROJECTS\created_diabetes.csv')

Now,the dataset is created which may be similar to the one we see in diabetic profile of a patient. One thing we have to keep in mind as we proceed with the project is that "This project is for intuition purpose only and not for deployment".